/* .App {
  text-align: center;
} */
body {
  background-color: rgb(241, 238, 238);
}
.filter {
  display: grid;
  background-color: white;
  margin: 7px;
  grid-template-columns: auto auto auto;
  padding: 10px 10px 0 10px;
  border-radius: 2px;
  height: 70px;
}
.filter-select {
  margin: 1rem;
  color: gray;
  border: 2px solid gray;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}
.cards section {
  background-color: white;
  margin: 7px;
  padding: 10px 10px 0 10px;
  border-radius: 2px;
  height: 30px;
  width: 200px;
}
